/* ========CONTENT======== */

header {
	background-color: transparent;
}

.httl {
	font-size: 2rem;
	}

#contents {
	background-color: #fff;
	height:100%;
}
.mainVsl {
    width: 100%;
	background: url(../images/main.jpg) 0 0 / cover no-repeat;
	height: 600px;
	overflow: hidden;
	z-index: 0;
	position: relative;
}

.mainVsl::before {
	content: '';
	background: inherit;/*.bgImageで設定した背景画像を継承する*/
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	position: absolute;
	/*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	z-index: -1;/*重なり順序を一番下にしておく*/
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 360px;
}

.heading {
	font-size: 3rem;
}

.txt_area_wrap {
	margin-top: 40px;
	width: 100%;
}

.txt_area {
	max-width: 1600px;
	margin: 0 auto;
}

.txt_inr {
	padding: 0 8% 0;
}

.position {
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: 10px;
}

.tool {
	text-align: center;
	margin-top: 30px;
}

.tool_wrap {
	display: inline-block;
}

.tool_inr li {
	border: 1px solid #dedede;
	color: #888;
	border-radius: 100px;
	padding: 2px 14px;
	font-size: 1.2rem;
	margin-right: 4px;
	box-sizing: border-box;
}

.tool_inr li:last-child {
	margin-right: 0;
}

.active {
	background-color: #dedede;
	border: 0px none !important;
}

.caption {
	margin-top: 30px;
}

.otherWrap {
	background-color: #fff;
	max-width: 1600px;
	margin: 30px auto 0;
	height:100%;
}

.otherVsl {
	padding: 30px 8% 0px;
	height:100%;
}

.img {
	border: 1px solid #efefef;
	height: 800px;
	margin-bottom: 30px;
}

.btn_area {
	margin-top: 40px;
}

.visit {
	display: inline-block;
	width: 300px;
	padding: 16px 0;
	position: relative;
}

.visit::after {
	content: "";
	position: absolute;
	top: 50%;
	width: 12px;
	height:12px;
	margin-top: -7px;
	margin-left: 14px;
	background: url(../images/link_black.svg) no-repeat 0 0;
}

.visit:hover::after {
	background: url(../images/link_white.svg) no-repeat 0 0;
	}




